@use 'node_modules/reset-css/sass/reset';
@use '@/styles/variables';
@use '@/styles/fonts';
@use '@/styles/flex';
@use 'node_modules/element-plus/theme-chalk/src/index';
@use 'node_modules/@toast-ui/editor/dist/toastui-editor.css';

:root {
  --el-font-family: 'Nunito', sans-serif;
}

* {
  box-sizing: border-box;

  .el-button + .el-button {
    margin: unset;
  }
}

.el-message-box__btns {
  gap: 8px;
}

button,
input,
textarea {
  font-family: inherit;
}

body {
  font-family: Nunito, sans-serif !important;
  font-size: 14px;
}

.material-symbols-outlined,
.material-symbols-rounded,
.material-symbols-sharp {
  font-size: inherit;
}
